<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React SSR Sample</title>
</head>
<body>
  <div id="app"><%- markup %></div>
  <script id="initial-state" type="text/plain" data-json='<%= initialState %>'></script>
  <script src="/js/client.bundle.js"></script>
</body>
</html>
