@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  background: #212121;
  color: #a2a2a2;
}

#app {
  width: 100%;
  height: 100%;
}
